<h2>Track Cryptocurrencies</h2>
<%= for coin <- @conins do %>
  <p>
    <%= String.capitalize(coin.name) %>: 
    <span id="<%= coin.name %>">$<%=  Float.round(coin.price, 4)%> </span>
  </p>
<%= end %>

<%= form_for @changeset, Routes.page_path(@conn, :create), fn f -> %>
  <%= label f, :name %>
  <%= text_input f, :name, placeholder: "bitcoin", required: true %>
  <%= error_tag f, :name %>
  <%= submit "Submit" %>
<% end %>
